# Core
python-dotenv==1.0.1
pydantic==2.6.4

# Data Processing & Parsing
pandas==2.2.1
numpy==1.26.4
jupyter==1.0.0
beautifulsoup4==4.12.3
lxml==5.1.0
requests==2.31.0

# LlamaIndex (Core)
llama-index-core==0.10.20
llama-index-embeddings-huggingface==0.2.0
torch==2.2.2
transformers==4.39.3
qdrant-client==1.8.2
llama-index-vector-stores-qdrant==0.1.4
